
	
	*{margin:0px; padding:0px;} 

	/*COLOR DE LOS LATERALES DE LA PAGINA*/
	
	/*VERDE rgb(161,194,107)*/
	/*AZUL rgb(29,102,168)*/
	/*azul claro : rgb(51,141,222)*/
	/*verde oscuro : rgb(140,168,93)*/
	/*dorado: rgb(227,197,25)*/
	/*azul flecha: rgb(126,162,243)*/
	/*azul facebook: rgb(91,112,165)*/
	/*azul twitter: rgb(65,160,220)*/
	/*rojo google: rgb(196,34,37)*/
	
	
	html{
		background:rgb(246,246,246);
	}
	
	body{
		font-family: 'Ubuntu', sans-serif;
		width:1200px;
		height:100%;
		margin:auto;
		border: 2px solid white;
		background-color:white;
	}    /* Color de fondo de la pagina */



	/*-----------------------------------------------------------------------------------------------------*/
	/*ESTRUCTURA DEL DOCUMENTO*/

	
	header{      /* Estilo de la cabecera, la cual engloba el logo, título y el inicio de sesión */
		background: rgb(161,194,107);
		background-image: -webkit-linear-gradient(top, rgb(161,194,107), rgb(140,168,93));
		background-image: -moz-linear-gradient(top, rgb(161,194,107), rgb(140,168,93));
		background-image: -ms-linear-gradient(top, rgb(161,194,107), rgb(140,168,93));
		background-image: -o-linear-gradient(top, rgb(161,194,107), rgb(140,168,93));
		background-image: linear-gradient(to bottom, rgb(161,194,107), rgb(140,168,93));
		padding:20px 40px 10px 40px;

		
	}	
			
	section{  /* Estilo del cuerpo de la página */
		background:white;
	}
		
		footer{    /* Estilo del pie de página */
		background: rgb(29,102,168);
		background-image: -webkit-linear-gradient(top, rgb(29,102,168), rgb(91,112,165));
		background-image: -moz-linear-gradient(top, rgb(29,102,168), rgb(91,112,165));
		background-image: -ms-linear-gradient(top, rgb(29,102,168), rgb(91,112,165));
		background-image: -o-linear-gradient(top, rgb(29,102,168), rgb(91,112,165));
		background-image: linear-gradient(to bottom, rgb(29,102,168), rgb(91,112,165));
		color:white;
		text-align: center;
		font-size:12px;		
		padding:25px;
	}
	
	/*---------------------------------------------------------------------------------------------------*/
	
	
	

	/*---------------------------------------------------------------------------------------------------*/
	/*ESTILO DE LA CABECERA*/
	
	/*ESTILO DE LA CABECERA*/
	#admin-list{
			width: 600px;
			margin:30px auto;
			background:rgb(246,246,246);
			border:solid 1px rgb(29,102,168);
			border-radius:2px;
			padding: 0 15px 18px 15px;
		}
	
	#admin-list > form {
		text-align:center;
	}
	

					.AreaPersonal {
						font-family: 'Ubuntu', sans-serif;
						color:white;
						font-size:50px;
						font-weight:lighter;
					}
					
					#volver-menu{
						width:150px;
						background: rgb(29,102,168);
						border-radius: 2px;
						color: #ffffff;
						font-size: 14px;
						border:solid 1px white;
						padding: 8px 15px 8px 15px;
						margin-bottom:10px;
						
					}
					
					#volver-salir{
						width:150px;
						background:rgb(161,194,107);
						border-radius: 2px;
						color: #ffffff;
						font-size: 14px;
						border:solid 1px white;
						padding: 8px 15px 8px 15px;
						margin:10px auto;
						text-decoration:none;
					}
					
					#volver-promocion, #volver-validar, #volver-destacado, #volver-conciliacion {
						width:350px;
						background: rgb(29,102,168);
						border-radius: 2px;
						color: #ffffff;
						font-size: 14px;
						border:solid 1px white;
						padding: 8px 15px 8px 15px;
						margin:10px auto;
					}
					

					
					#AccesoLogin:hover,#volver-menu:hover,#volver-validar:hover, #volver-destacado:hover, #volver-conciliacion:hover, #volver-promocion:hover{
						background: white;
						color: rgb(29,102,168);
						border:solid 1px rgb(29,102,168);
						
					}
					
					#volver-salir:hover{
						background: white;
						color:rgb(161,194,107);
						border:solid 1px rgb(161,194,107);
						
					}

				/*----------------------------------------------------------------------------------------------*/



					/*----------------------------------------------------------------------------------------------*/
		/*ESTILO DEL INICIO DE SESION DE LA CABECERA*/
			
			
		

		
	
	/*---------------------------------------------------------------------------------------------------*/

	


	/*---------------------------------------------------------------------------------------------------*/
	/*ESTILO DEL MENU*/

		
	
	/*---------------------------------------------------------------------------------------------------*/



	/*---------------------------------------------------------------------------------------------------*/
	/*ESTILO DE LOS CURSOS */
	

	#mi-empresa {
		min-height:700px;
		font-family: 'Ubuntu', sans-serif;
	}
	
	#mi-empresa > h4 {
		margin:30px 0;
		color:rgb(29,102,168);
		text-align:center;
		font-size:40px;
		font-weight:lighter;
	}
	
		#mi-empresa ul li {
		border-top: solid 2px rgba(81,81,81,0.2);
		padding-top:12px;
		width: 1075px;
		margin: auto;
		list-style: none;
		min-height:117px;
		max-height:220px;
		
	}
	
	.ofertas-descripcion, .ofertas-edicion {
		display:inline-block;
	}
	
		/*----------------------------------------------------------------------------------------*/
		/*DESCRIPCION DEL CURSO*/
		
		.ofertas-descripcion {
			width: 900px;
			padding-left:10px;
		}
		
		.ofertas-titulo {
			color: rgb(29,102,168);
			font-size: 16px;
			padding-bottom:5px;
		}
		
		.ofertas-empresa {
			font-size:12px;
			color:rgb(81,81,81);
		}
		
		
		/*----------------------------------------------------------------------------------------*/
		
		
	
		
	
		/*----------------------------------------------------------------------------------------*/
		/*EDICION DE CURSOS*/
		
		.ofertas-edicion {
			height:68px;
			width:120px;
			background-color: rgb(207,207,207);
			text-align:center;
			padding:10px;
			margin:0;
			position:relative;
		}
		.ofertas-edicion > a{
			border:none;
			cursor:pointer;
			border-radius: 50px;
		
		}
		
		.eliminar-icon {
			padding:1px;
			margin:5px;
			width:45px;
			width:45px;
			border-radius: 50px;
			border:inset white 2px;

		}
		
		.eliminar-icon:hover {
			-moz-box-shadow: 0 0 15px #ccc; 
			-webkit-box-shadow: 0 0 15px #ccc; 
			box-shadow: 0 0 15px #ccc; 
			border:inset rgb(29,102,168) 2px;
		}
		
		
		
		/*----------------------------------------------------------------------------------------*/
		

	/*----------------------------------------------------------------------------------------------------*/
	
	
	
	
	
	
	
	
	
	
	
	
	/*-------------------------------------------------------------------------------------------------------*/
	
	/*VISTA PREVIA*/
	

	
	
	

	
	/*-------------------------------------------------------------------------------------------------------*/


	/*-----------------------------------------------------------------------------------------------*/
		
	/*AÑADIR NUEVA PROMOCION*/
		
	#boton-anadir-cupon{
		width:150px;
		background: rgb(29,102,168);
		border-radius: 2px;
		color: #ffffff;
		font-size: 14px;
		border:solid 1px white;
		padding: 8px 15px 8px 15px;
		margin-bottom:10px;
		position:relative;
		left:530px;
	}
	
	

	
	#boton-anadir-cupon:hover{
		background: white;
		color: rgb(29,102,168);
		border:solid 1px rgb(29,102,168);
		
	}
	
	
	/*-----------------------------------------------------------------------------------------------*/
	
	
	/*LISTA DESTACADO*/
	
	
	#lista-destacado{
		min-height:700px;
		font-family: 'Ubuntu', sans-serif;
	}
	
	#lista-destacado > h4 {
		margin:30px 0;
		color:rgb(29,102,168);
		text-align:center;
		font-size:40px;
		font-weight:lighter;
	}
	
	#lista-destacado ul li {
		border-top: solid 2px rgba(81,81,81,0.2);
		padding-top:12px;
		width: 1075px;
		margin: auto;
		list-style: none;
		min-height:117px;
		max-height:220px;
		
	}
	.ofertas-resumen {
		height:75px;
		max-width:680px;
		margin:10px 0;
		overflow:auto;
	}
	
	.ofertas-tipo-contrato, .ofertas-jornada, .ofertas-salario {
		display:inline;
		padding-right:10px;
	}
	
	.ofertas-tipo-contrato, .ofertas-jornada {
		border-right:1px solid rgb(81,81,81);
	}
	
	.ofertas-jornada, .ofertas-salario {
		padding-left:10px;
	}
	
	.ofertas-descripcion, .ofertas-edicion-destacado {
		display:inline-block;
	}
	
		.ofertas-edicion-destacado {
			background: rgb(29,102,168);
			border-radius: 2px;
			color: #ffffff;
			font-size: 14px;
			border:solid 1px white;
			text-align:center;
			padding: 37px 20px;
			position:relative;
			top:-35px;
			font-size: 14px;
			text-decoration:none;
			
		}
		.ofertas-edicion-destacado > img {
			width:80px;
			height:80px;
		}
		
		.ofertas-edicion-destacado:hover {
			background: white;
			color: rgb(29,102,168);
			border:solid 1px rgb(29,102,168);
		}
		
		
		/*lista de conciliacion*/
		
		
		
		#lista-conciliacion{
			width: 600px;
			max-height:200px;
			margin:auto;
			background:rgb(246,246,246);
			border:solid 1px rgb(29,102,168);
			border-radius:2px;
			padding: 0 15px 18px 15px;
		}
		
		.conciliacion-tit {
			color: rgb(29,102,168);
			font-size: 16px;
			padding:10px;
		}
		
		.conciliacion-des {
			font-size:12px;
			color:rgb(81,81,81);
			padding:10px;
		}
		
		/*login*/
		
		form[action=LoginServlet] > p{
			margin:30px 0;
			color:rgb(29,102,168);
			text-align:center;
			font-size:30px;
			font-weight:lighter;
		}
		 input[type=text], input[type=password]{
		 	height: 30px;
			width: 350px;
			border: none;
			border-radius: 4px;
			/*revisar*/
			box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2) inset, 0px -1px 0px rgba(0, 0, 0, 0.05) inset;
			font-family: "Ubuntu",sans-serif;
			font-size: 12px;
			color: #222;
			position: relative;
			top: 10px;
			left: 25px;
			padding-left: 20px;
			margin:2px;
			margin-left: 5px;
			background-color: white;
		 }
		 
		 #AccesoLogin{
		 	width:150px;
			background: rgb(29,102,168);
			border-radius: 2px;
			color: #ffffff;
			font-size: 14px;
			border:solid 1px white;
			padding: 8px 15px 8px 15px;
			margin:20px 0 4px 0;
		 }
